<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>My name is Yulia</h2>
        <p>I started learning coding after two years of working in a management position at an Outsourcing and Offshoring Consulting company. I want to connect my management and web development experience to my future position. I'm looking for a full-time product manager position.</p>
      </div>
    </div>
  </div>
</div>
