<div class="row justify-content-center banner">
  <div class="col-12 d-flex justify-content-center">
    <div class="row mt-5">
      <div class="col-12">
        <%= image_tag 'https://media-exp1.licdn.com/dms/image/D5603AQGJSLmpSUsG4g/profile-displayphoto-shrink_400_400/0/1670146873742?e=1675900800&v=beta&t=cpmR_9WX3JdLsO8cRAXfbxzPXQEPQ5O0C-fC6V0qYIA', alt: "profile photo", class: 'avatar-square' %>
        <div id="contact" class="m-3">
          <div class="d-flex justify-content-center flex-wrap">
            <div class="button-social d-flex flex-column justify-content-center align-items-center">
              <i class="fa-solid fa-envelope"></i>
              <%= mail_to "yulia.naumenko@outlook.com", "", class: 'button-social-link' %>
            </div>
            <div class="button-social d-flex flex-column justify-content-center align-items-center">
              <i class="fa-brands fa-github"></i>
              <%= link_to "", "https://github.com/Junalem", target: '_blank', class: 'button-social-link' %>
            </div>
            <div class="button-social d-flex flex-column justify-content-center align-items-center">
              <i class="fa-brands fa-linkedin"></i>
              <%= link_to "", "https://www.linkedin.com/in/yulia-naumenko/", target: '_blank', class: 'button-social-link' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%# <h1 class="title-main">Hi there 👋
    </h1> %>
    <div>
      <h4 class="title ms-4 mt-5"> Hi! Thank you for visiting my page 🤗 </h4>
      <h4 class="title ms-4">  My name is Yulia. I started learning to code after two years of working in a management position at an outsourcing and offshoring consulting company. I want to connect my management and web development experience to my future position. I'm looking for a full-time product manager position. I want to share projects which I built and really proud them. </h4>
    </div>
  </div>
</div>
