.avatar {
  width: 188px;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.5);
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 300px;
  border-radius: 10%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.title-main {
  color: #524a48;
  background: linear-gradient(to right, rgba(255,239,223, 0.5) 0%, rgba(255,239,223, 0));
  opacity: 90%;
  -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
}
.title {
  // margin-top: 52px;

margin-bottom: 36px;
  color: #524a48;
  background: linear-gradient(to right, rgba(255,239,223, 0.5) 0%, rgba(255,239,223, 0));
  opacity: 90%;
  -webkit-background-clip: text;
  width: 600px;
  text-align: center;
  // -webkit-text-fill-color: transparent;
}
